<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vote8er</title>
     <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/index.css">
<!--    <script src='/javascripts/app.client.js'></script>-->
</head>
<body>
    <div class="container-fulid">
        <div class="content">
            <div class="center">
                <h1>Vote8er</h1>
                <h2>Create Custom Polls With live results.</h2>
                <div class="logger">
                <span>Login with :</span>
                <a href="/auth/google" class="btn google"><span><i class="fa fa-google-plus" aria-hidden="true"></i> Google</span></a>
                <a href="/auth/facebook" class="btn facebook"><span><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</span></a>
                <a href="/auth/twitter" class="btn twitter"><span><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</span></a><br>
                </div>
                <a href="#" class="not-now">Naah, not now</a>
                <p class='note'>NOTE : You will not be able to start new Polls unless you are logged in.</p>
            </div>
        </div>
            <div class='tiles row'>
                <div class="tile1 col-sm-4 col-xs-12">
                    <i class="fa fa-bolt" aria-hidden="true"></i>
                    <h3>Live Results</h3>
                    <p>
                        Live Graph show your results in an easy to understand way. one graph will not provide the whole pictue that's why we provide multiple Graphs to meet your needs.
                    </p>
                </div>
                <div class="tile1 col-sm-4 col-xs-12">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <h3>Works Everywhere</h3>
                    <p>
                        We are everywhere.<br> Desktop,Smartphone,Tablet,SmartTv you name it .We got you covered.
                    </p>
                </div>
                 <div class="tile1 col-sm-4 col-xs-12">
                    <i class="fa fa-facebook fa-fb" aria-hidden="true"></i>
                    <h3>Social Integration</h3>
                    <p>
                        Free integration of Facebook,Google and Twitter which allow you to login and Share polls.
                    </p>
                </div>
            </div>
    </div>
</body>
</html>