body{
    overflow-x: hidden;
}
.content{
    background-color:  #4595BB;
    padding:30px;
    margin-bottom: 50px;
}
.center{
    width:500px;
    margin: 0 auto;
    text-align: center;
    color: white;
}
@media (max-width : 499px){
    .center{
        width: 100%;
        text-align: center;
        color: white;
    }
}
a,a:hover,a:visited,a:active{
    color:white !important;
}
.not-now{
    text-decoration: underline !important;
    font-size: 20px !important;
}
.google{
    background-color: #D44937;
}
.twitter{
    background-color:#007099;
}
.facebook{
    background-color: #365899;
}
.note{
    margin-bottom: -10px;
}
h1{
    font-size: 60px;
    font-weight: 900;
    padding:15px;
}
h3{
    font-weight: 800;
}
.logger{
    margin-bottom: 8px;
}
.tile1{
    text-align: center;
}
.fa-bolt,.fa-globe,.fa-fb{
    font-size: 70px;
}
.fa-bolt{
    color: #FBEC78;
}
.fa-globe{
    color: #5CB862;
}
.fa-fb{
    color: #365899;
}