body{
    overflow-x: hidden;
}
body,.list-group-item:hover{
    background-color:#4595BB !important;
}
.list-group-item:hover{
    color:white !important;
}
.footer{
    padding-top : 12px;
    color:white;
}